---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Hero from '../components/Hero.astro';
import Stats from '../components/Stats.astro';
import About from '../components/About.astro';
import Stack from '../components/Stack.astro';
import Experience from '../components/Experience.astro';
import Projects from '../components/Projects.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Navigation />
  <main>
    <Hero />
    <Stats />
    <About />
    <Stack />
    <Experience />
    <Projects />
    <Contact />
  </main>
  <Footer />
</Layout>